h1, h2 {
    font-family: 'Arapey', serif;
}

header {
  background-color: purple;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url('../img/header1.jpg');
  background-size: cover;
}

header img {
    max-width: 150px;
}

nav {
    background-color: #890407;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

main {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#menu {
    background-image: url('../img/bg-slate.jpg');
    background-size: cover;
}

.menu ul li {
    display: block;
    border-bottom: 2px solid #563E3F;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #E5E1D2;
}

.menu ul li :last-child {
    border-bottom: none;
}

.menu a {
    text-decoration: none;
    color: white;
}


/* tablet */
@media screen and (min-width: 480px) {
    .menu ul li {
        display: block;
        border-bottom: 2px solid #563E3F;
        padding: 15px 0px 15px 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: #E5E1D2;
    }

    .menu ul li :last-child {
        border-bottom: none;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    header img {
        max-width: 250px;
    }

}

/* desktop */

@media screen and (min-width: 1003px) {
    .menu ul li {
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        border-bottom: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: #E5E1D2;

    }

    header img {
        max-width: 300px;
    }

}

/*
#about, #jobs, #read {
  width: 70%;
  margin: auto;
} */

#menu {
  background-color: #FFFBE1;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#gallery {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}

#events {
  background-color: #FF6312;
  background-image: url('../img/white-brick.jpg');
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}



#location {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#gifts {
  background-color: red;
  background-image: url('../img/give-bg.jpg');
  background-size: cover;
  min-height: 300px;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


footer {
    background-color: #888686;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}
