h1, h2, h3 {
    font-family: 'Arapey', serif;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

header {
  background-color: purple;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  background-image: url('../img/header1.jpg');
  background-size: cover;
  margin-bottom: -60px;
}

h1.hidden {
    visibility: hidden;
}

header img {
    max-width: 150px;
}

nav {
    background-color: #890407;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

main {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

main #gallery, #location, h2 {
    color: #563E3F
}

#menu {
    background-image: url('../img/bg-slate.jpg');
    background-size: cover;
}

#menu h2 {
    color: white;
}

.menu ul li {
    display: block;
    border-bottom: 2px solid #563E3F;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #E5E1D2;
}

.menu ul li :last-child {
    border-bottom: none;
}

.menu a {
    text-decoration: none;
    color: white;
}


/* tablet */
@media screen and (min-width: 480px) {
    .menu ul li {
        display: block;
        border-bottom: 2px solid #563E3F;
        padding: 15px 0px 15px 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: #E5E1D2;
    }

    .menu ul li :last-child {
        border-bottom: none;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    header img {
        max-width: 250px;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    #mainc, #menuc {
      width: 75%;
      margin: auto;
      font-family: 'Roboto', sans-serif;
      line-height: 1.5em;

    }

}

/* desktop */

@media screen and (min-width: 1003px) {
    .menu ul li {
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        border-bottom: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: #E5E1D2;

    }

    header img {
        max-width: 300px;
    }

    h2 {
        font-size: 2.3em;
    }

    h3 {
        font-size: 2em;
    }

    #mainc, #menuc, #locationc {
      width: 60%;
      margin: auto;
      font-family: 'Roboto', sans-serif;
      line-height: 1.5em;

    }
}


#mainc, #menuc {
  width: 85%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;

}

#menu {
  background-color: #FFFBE1;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#gallery {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}

#events {
  background-color: #FF6312;
  background-image: url('../img/white-brick.jpg');
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#location {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#gifts {
  background-color: red;
  background-image: url('../img/give-bg.jpg');
  background-size: cover;
  min-height: 300px;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


footer {
    background-color: #888686;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}
